*{
    margin:0;
    padding:0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #0a173b;
}
:root{
    --navbar-height:59px;
}
#navbar{
    /* position: sticky; */
    top: 0px;
}
#navbar{
    display: flex;
    align-items: center;
}
/* logo and image */
#logo img{
    margin: 10px 34px;
    height: 69px;
    border-radius: 50%;
}
#navbar ul{
    display: flex;
}
#navbar::before{
    content: "";
    background-color: white;
    position:absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.1;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    font-size: 33px;
    display: block;
    padding: 5px 40px;
    border-radius: 40px;
    text-decoration: none;
    color:rgb(15, 3, 3);
    background: -webkit-linear-gradient(#060606, #16c3cf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef,  0 0 50px #0ef,  
    0 0 100px #0ef,  0 0 200px #0ef;
}
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 22px;
    height: 385px;
    align-items: center;
    justify-content: center;
}
.btn{
    background-color: rgb(201, 240, 250);
    color:black;
    padding: 2px 22px;
    margin: 17px;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 15px;
    /* border:2px solid white; */
}
.btn:hover{
    color: black;
    background-color: rgb(226, 205, 205);
    text-decoration: none;
    border: 2px solid rgb(163, 47, 47);
    border-radius: 15px;
}
#home::before{
    content: "";
    position: absolute;
    background: url('/assets/9.jpeg') no-repeat center/cover;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -3;
    opacity: 0.89;
}

#home h1{
    color: white;
    text-align: center;
}
/* #home p{
    color: rgb(247, 241, 241);
    text-align: center;
    font-size: 1.5rem;
} */
#services{
    margin: 34px;
    display: flex;

}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    border-radius: 28px;
    margin: 3px 6px;
    background-color: rgb(232, 242, 242);
    display: center;
}
#services .box img{
    margin: auto;
    display: block;
    height: 120px;
}
.h-primary{
    margin-bottom: 30px;
    margin-left: -33rem;
    margin-top: 8rem;
    background: -webkit-linear-gradient(#060606, #16c3cf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4.4rem;
    padding: 12px;
    /* text-align: center; */
}
.h-primary:hover{
    /* background-color: #081b29; */
    /* box-shadow:  0 5px rgb(218, 228, 228),
    0 0 15px cyan,0 0 50px cyan,
    0 0 100px rgb(62, 205, 29),0 0 200px rgb(48, 76, 170) ; */

}

.h-secondary{
    font-size: 1.8rem;
text-align: center;
}

.read1 {
    display: inline-block;
    padding: 12px 28px;
    margin-left: -23rem;
    margin-top: -12px;
    margin-bottom: 54px;
    background-color: #0ef;
    background: -webkit-linear-gradient(#060606, #16c3cf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
        border-radius: 40px;
    font-size: 20px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideRead 1s ease forwards;
    animation-delay: 1s;
    box-shadow: 0 0 5px #060606, 0 0 10px #16c3cf
}
@keyframes slideRead{
    0%{ 
        transform: translateY(100px);
        opacity: 0;
      }
      100%{
        transform: translateY(0px);
        opacity: 1;
      }
}
.read1:hover{
    transform: translatex(-30px);
    /* box-shadow:  0 5px rgb(218, 228, 228),
    0 0 15px cyan,0 0 50px cyan,
    0 0 100px rgb(62, 205, 29),0 0 200px rgb(48, 76, 170) ;  */
}
